
/* 

Reprenez vos fichiers index.php et style.css. Ajoutez en haut de la page,
un header qui contient une liste de trois liens : Accueil, Présentation,
Contact. Lorsque la résolution est inférieure ou égale à 767. Les liens
disparaissent pour laisser place à un hamburger button. Lorsque l’on clique
sur celui-ci, les liens apparaissent. Si on re-clique, les liens disparaissent.
*/

*{
    margin: 0px;
}



#wrap {
    font-family: sans-serif;
    font-size: 21px;
    line-height: 1.6;
    margin: 0;
    display: flex;
    /* color: #f00; */
    transition: transform .4s cubic-bezier(.25, .1, .25, 1);
}

#wrap:not(:target) {
    transform: translate3d(-335px, 0, 0);
}

#wrap:target {
    transform: translate3d(0, 0, 0);
}

#open,
#close {
    height: 44px;
    text-align: right;
    display: block;
    margin-right: -30px;
}

#wrap:target #open,
#wrap:not(:target) #close {
    display: none;
}

#wrap:target #open {
    display: none;
}
